$font-0: 0.625rem;
$font-1: 0.75rem;
$font-2: 0.875rem;
$font-3: 1rem;
$font-4: 1.125rem;
$font-5: 1.25rem;
$font-6: 1.5rem;
$font-7: 1.75rem;
$font-8: 2rem;
$font-9: 2.25rem;
$font-10: 2.5rem;
$font-11: 3rem;

$c-Primary-1: #00041C;
$c-Primary-2: #000;
$c-Primary-3: #fff;

$c-Accent-1: #DEE036;
$c-Accent-2: #00CABA;
$c-Accent-3: #36E06F;
$c-Accent-4: #508B85;

$c-Redscale-1: #E04E36;

$c-Greyscale-1: #3D3D3D;

$c-Telegram: #269BD2;
$c-WhatsApp: #40C351;